<div *ngIf="step == 1" class="register_container">
  <h2 *ngIf="gbn != 'temp'" class="register_title"><span class="title_ico type1"></span>{{'최초 접근 관리자 계정 변경 설정' | localize}}</h2>
  <h2 *ngIf="gbn == 'temp'" class="register_title"><span class="title_ico type1"></span>{{'임시비밀번호 계정 변경 설정' | localize}}</h2>

  <div *ngIf="gbn != 'temp'" class="register_info-text">{{'해당 계정은 시스템 생성 시 자동으로 생성된 최초 계정으로써 아이디, 비밀번호 노출 가능성이 존재하는 취약점이 있습니다.' | localize}} <br />
    {{'반드시 해당 계정과 비밀번호 변경되어야 하며, 변경하지 않을 시에 해당 시스템에 로그인 할 수 없습니다.' | localize}}
  </div>
  <div *ngIf="gbn == 'temp'" class="register_info-text">{{'임시비밀번호로 시도한 접근으로써, 비밀번호 노출 가능성이 존재하는 취약점이 있습니다.' | localize}} <br />
    {{'반드시 비밀번호 변경이 선행 되어야 하며, 변경하지 않을 시에 해당 시스템에 로그인 할 수 없습니다.' | localize}}
  </div>

  <form [formGroup]="chgPwForm" (ngSubmit)="onSubmit()">

    <!-- Form //-->
    <div class="register_form">
      <div class="register_form-wrap">
        <p class="register_form-item">
          <label class="register_form-label">{{'아이디' | localize}}</label>
          <input type="text" formControlName="id"
                 class="register_form-input PAR50"
                 maxlength="40"
                 placeholder="{{'아이디(7~40자의 E-mail)' | localize}}" autocomplete="on" readonly/>
          <span *ngIf="submitted && chgPwGroup['id'].errors">
            <span class="register_form-Msg colorRed" *ngIf="chgPwGroup['id'].errors?.required">{{'아이디를 입력하세요.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="chgPwGroup['id'].errors?.required">{{'아이디를 입력하세요.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="chgPwGroup['id'].errors?.minlength">{{'아이디는 7자 이상 입니다.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="!chgPwGroup['id'].errors?.minlength &&
               chgPwGroup['id'].errors?.email">{{'아이디는 이메일 형식 입니다.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="!chgPwGroup['id'].errors?.required && !chgPwGroup['id'].errors?.minlength &&
              !chgPwGroup['id'].errors?.email && chgPwGroup['id'].errors?.match">{{'아이디 중복확인이 필요합니다.' | localize}}</span>
          </span>
          <span class="register_form-ico type1"></span>
        </p>
      </div>
      <div class="register_form-wrap">
        <p class="register_form-item">
          <label class="register_form-label">{{'신규 비밀번호' | localize}}</label>
          <input type="password" formControlName="pw"
                 class="register_form-input PAR50"
                 maxlength="50"
                 placeholder="{{'신규 비밀번호(9~50자, 특수, 영대, 숫자 1개 포함)' | localize}}"  />
          <span *ngIf="!chgPwGroup['pw'].errors" class="register_form-Msg colorGreen">{{'올바른 비밀번호 입니다.' | localize}}</span>
          <span *ngIf="submitted && chgPwGroup['pw'].errors">
              <span class="register_form-Msg colorRed" *ngIf="chgPwGroup['pw'].errors?.required">{{'비밀번호를 입력하세요.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="chgPwGroup['pw'].errors?.minlength">{{'비밀번호는 9자 이상 입니다.' | localize}}</span>
              <span class="register_form-Msg colorRed"
                    *ngIf="!chgPwGroup['pw'].errors?.required && !chgPwGroup['pw'].errors?.minlength &&
                    chgPwGroup['pw'].errors?.pattern">{{'비밀번호는 하나 이상의 대소문자, 숫자, 특수문자를 포함하여야 합니다.' | localize}}</span>
          </span>
          <span class="register_form-ico type2 on"></span>
        </p>
      </div>
      <div class="register_form-wrap">
        <p class="register_form-item">
          <label class="register_form-label">{{'신규 비밀번호 확인' | localize}}</label>
          <input type="password" formControlName="pw_repeat"
                 class="register_form-input PAR50"
                 maxlength="50"
                 placeholder="{{'신규 비밀번호 재확인' | localize}}"/>
          <span *ngIf="submitted">
              <span class="register_form-Msg colorRed" *ngIf="chgPwGroup['pw_repeat'].errors?.required">{{'비밀번호 확인을 입력하세요.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="!chgPwGroup['pw_repeat'].errors?.required &&
                chgPwGroup['pw_repeat'].errors?.match">{{'비밀번호와 비밀번호 재확인이 일치하지 않습니다.' | localize}}</span>
          </span>
          <span class="register_form-ico type3"></span>
        </p>
      </div>

    </div>
    <!--// Form -->

    <!-- btn //-->
    <div class="register_form-btn">
      <input type="submit" class="register_form-btn_link" value="{{'아이디 / 비밀번호 변경' | localize}}"/>
    </div>
    <!--// btn -->

  </form>
  <!--// Form -->
</div>
<!--// step 1 -->
