<div *ngIf="step == 1" class="register_container">
  <h2 class="register_title"><span class="title_ico type4"></span>{{'비밀번호 찾기 - 아이디 입력' | localize}}</h2>

  <div class="register_info-text">{{'비밀번호 찾기 시, 등록된 사용자 이메일로 임시 비밀 번호가 발급 됩니다.' | localize}}<br />
    {{'다음 로그인 시 해당 비밀번호를 변경하여 사용하시기 바랍니다.' | localize}}
  </div>
  <form [formGroup]="findPasswordForm" (ngSubmit)="onSubmit()">
    <!-- Form //-->
    <div class="register_form">
      <div class="register_form-wrap">
        <p class="register_form-item">
          <label class="register_form-label">{{'아이디' | localize}}</label>
          <input type="text" formControlName="id"
                 class="register_form-input"
                 maxlength="40"
                 placeholder="{{'아이디(7~40자의 E-mail)' | localize}}" autocomplete="on"/>
          <span *ngIf="submitted && findPasswordGroup['id'].errors">
              <span class="register_form-Msg colorRed" *ngIf="findPasswordGroup['id'].errors?.required">{{'아이디를 입력하세요.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="findPasswordGroup['id'].errors?.minlength">{{'아이디는 7자 이상 입니다.' | localize}}</span>
              <span class="register_form-Msg colorRed" *ngIf="!findPasswordGroup['id'].errors?.minlength &&
               findPasswordGroup['id'].errors?.email">{{'아이디는 이메일 형식 입니다.' | localize}}</span>
            </span>
        </p>
      </div>

    </div>
    <!--// Form -->



    <!-- btn //-->
    <div class="register_form-btn">
      <p class="register_form-btn_inbox">
        <a class="register_form-btn_link2" routerLink="/anonymous">{{'취소' | localize}}</a>
      </p>
      <p class="register_form-btn_inbox">
        <a class="register_form-btn_link" (click)="onSubmit()">{{'비밀번호 찾기' | localize}}</a>
      </p>
    </div>
    <!--// btn -->

  </form>
</div>


<div *ngIf="step == 2"  class="register_container">
  <h2 class="register_title"><span class="title_ico type2"></span>{{'비밀번호 찾기 완료' | localize}}</h2>

  <div class="register_info-text">{{'임시비밀번호가 발행되었습니다.' | localize}}<br />
    {{'이메일 확인후 로그인을 진행하십시오.' | localize}}<br />
    {{'암시비밀번호로 로그인 후 비밀번호를 변경하셔야 합니다.' | localize}}<br />
  </div>

  <!-- btn //-->
  <div class="register_form-btn">
    <a class="register_form-btn_link" routerLink="/anonymous/login">{{'확인' | localize}}</a>
  </div>
  <!--// btn -->
</div>
